html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body {
    background-color: #303030;
    color: #ccc;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.container {
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
}

.container a{
    color: #0000ee
}

.front-center {
    height: 400px;
    background: #1d1d1d;
    text-align: center;
    position: relative;
}

.front-center:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -4px;
    left: 0;
    background: #1d1d1d;
}

.front-center .front-content {
    display: inline-block;
    width: 650px;
    margin-top: 100px;
}

.front-nav {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.front-nav .nav-item {
    display: inline-block;
}

.front-nav .sep {
    display: inline-block;
    background: #888;
    width: 1px;
    height: 0.8em;
    margin-left: 8px;
    margin-right: 8px;
}

.front-nav .nav-item.active {
    color: #3E7E96;
    position: relative;
 }

.front-nav .nav-item.active:after {
    position: absolute;
    z-index: 100;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #303030;
    bottom: -10px;
    left: 15px;
}

.front-nav .nav-item a:hover {
    text-decoration: underline;
}

.front-center .front-content .button {
    margin-top: 32px;
    background: #3E7E96;
    color: #1d1d1d;
    display: inline-block;
    width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-weight: 600;
}

.front-center .front-content .button:hover {
    background: #0B4B63;
}

.about-center {
    display: block;
    width: 100%;
    min-height: 100%;
    position: relative;
    background: #ebebeb;
    z-index: 0;
}

.about-center:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 948px;
    left: 50%;
    margin-left: -474px;
    background-color: #fff;
    z-index: -1;
}

.about-content {
    color: black;
    display: block;
    width: 900px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    top: 0;
    bottom: 0;
    background: white;
}



.code-content {
    color: black;
    display: block;
    width: 1100px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    top: 0;
    bottom: 0;
    background: white;
}

