@()(implicit request: Request[Any])

@main("Nidhoggr", request) {
<div class="about-center">
    <div class="about-content">
        <h2 style="font-weight: 400;">About Nidhoggr</h2>
        <hr>
        <p>
            Traditionally, to extract data from slides taken by an electron microscope requires that skilled workers called tracers
            manually trace the outline of structures on the slides using a computer tablet. These tracings are then automatically
            'knitted' together by a computer program to create a 3D model of the traced structure, that can then be used for visualization
            and processing. This tracing is slow and painstaking, as structures can span many hundreds or even thousands of slides in a stack.
            <br/><br/>
            Nidhoggr aims to alleviate this data bottleneck by automatically tracing structures. It requires only that the user trace
            the outline of the structure on the first slide in the stack, it will then attempt to identify the same structure on
            subsequent slides and automatically trace it, allowing for the extraction of complete models with very little user input

            We based our approach on the Active Contour Model a popular method also referred to as snakes.
        </p>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Snake-contour-example.jpg/500px-Snake-contour-example.jpg">
        <br/>
        <p>
        The basic idea is if given a loosely accurate starting model, by optimizing the Energy of the snake based on the Energy function.
        Since it is considered Active the algorithm acts dynamically since it will reach the minimum of the energy function every time.
        </p>

        <img src="http://upload.wikimedia.org/math/a/1/7/a17393ebacd20f21d844d760844aded8.png">
        <br/>
        <a href="http://en.wikipedia.org/wiki/Active_contour_model">
            photo credit
        </a>

        <p></p>
    </div>
</div>

}
