@()(implicit request: Request[Any])

@main("Nidhoggr", request) {
<div class="about-center">
    <div class="about-content">
        <h2 style="font-weight: 400;">Under the skin</h2>
        <hr>

        <a href="/pipeline">Pipeline and Image Processing</a><br/>
        <a href="/worker">Workload Management</a><br/>
        <a href="/serverStuff">Message Management</a>


        <p></p>
    </div>
</div>

}