@()(implicit request: Request[Any])

@main("Nidhoggr", request) {
<div class="about-center">
    <div class="about-content">
        <h2>Input:</h2>
        <img height="700" width="700" src="http://i.imgur.com/o0fiKcA.png"/>
        <h2>Step 1, Gaussian Blur:</h2>
        <img height="700" width="700" src="http://i.imgur.com/2YuH8wz.png"/>
        <h2>Step 2, Edge Detect:</h2>
        <img height="700" width="700" src="http://i.imgur.com/YM9qvYf.png"/>
        <h2>Step 3, Threshold:</h2>
        <img height="700" width="700" src="http://i.imgur.com/wJdndLL.png"/>
        <h2>Finally, Find the axon:</h2>
        <img height="700" width="700" src="http://i.imgur.com/opdw9yB.gif"/>
    </div>
</div>

}
