@()(implicit request: Request[Any])

@main("Nidhoggr", request) {
<div class="front-center">
    <div class="front-content">
        <span style="color: #3E7E96">nid</span><strong>hoggr</strong> is a system for semi-automated tracing of axons,
        which aims to improve collection of data from electron microscope slides by allowing concurrent, automated extraction
        of axons with minimal input from unskilled workers.
        <br>
        <a href="/about" class="button">ABOUT</a>
    </div>
</div>

}
