@()(implicit request: Request[Any])

@main("Nidhoggr", request) {
<div class="about-center">
    <div class="code-content">
        <h2 style="font-weight: 400;">Pipeline and Image Processing</h2>
        <hr>
        <script src="http://gist-it.sudarmuthu.com/https://github.com/WVU-SNRC/Nidhoggr-Server/blob/master/src/main/scala/com/nidhoggr/NidhoggrPipeline.scala?footer=no"></script>


        <p></p>
    </div>
</div>

}